@import "../node_modules/choices.js/assets/styles/scss/choices";

@import "../node_modules/tippy.js/dist/tippy";

.brax-editable {
	
	display: inline-block;

	&[data-editing="0"] {

		color: #996767;

		border-bottom: 1px dotted;

		cursor: pointer;

		&:hover {

			color: #732828;

			/*
			span[data-icon] {
				padding-right: 10px;
			}
			*/

		}

	}

	// &:not([data-hooked]){
	// 	color: #f00;
	// }

	/*
	span[data-icon] {
		display: inline-block;
		width: 0px;
		overflow: hidden;
		transition: 0.2s all;
	}
	*/

}

.brax-editable-input {

	// font-size: 110%;
	
	display: flex;

	text-align: left;
	
	color: #000;

	.choices {
		min-width: 250px;
		margin-bottom: 0;
	}

	.choices__inner {
		box-sizing: border-box;
	}

	input[type="date"],
	input[type="time"],
	input[type="text"] {

		padding: 4px 8px;

		font-family: inherit;

		border: none;

	}

}

.brax-editable-button {
	
	border: none;
	
	background: #4D92C8;
	
	color: #fff;

	cursor: pointer;

	padding: 4px 8px;

	&:hover {
		background: #000;
	}

}

.brax-editable-clear {
	background: #B4BA57;
}

.brax-editable-cancel {
	background: #C74C4C;
}

.brax-editable-save {
	background: #7CBA57;
}